body {
	width: 95%;
}

.summary_table {
	table-layout: fixed;
	width: 100%;
	text-align: left;
}

.clickable {
	cursor: pointer;
	color: darkmagenta;
}

.summary_table_header {
	padding: 0px 0px 0px 5px;
}

.summary_table_detail_row {
	padding: 0px 0px 0px 15px !important;
}

.inline_div {
	display: inline-block;
}

.hidden {
	display: none !important;
}

.textcenteralign {
	text-align: center;
}

.summary_table_main_cell {
	max-width: 100%;
	padding: 2.5px;
}

.summary_table_detail_cell {
	padding: 5px;
}

.border_light {
	border: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.border_main_panel {
	border: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.overlay {
	opacity: 0.2;
	z-index: 10;
	position: fixed;
}

.header_label {
	font-size: 20px;
	padding: 5px !important;
	display: inline-block;
}

.submit_button {
	margin: 5px;
	padding: 5px;
}

#addDiagnosisPrompt {
	width: 100%;
	display: inline-block;
	padding: 10px;
}

#addDiagnosisPrompt span{
	float: left;
	clear: left;
	width: 100%;
	display: flex;
	white-space: nowrap;
	padding: 2px;
}

#personalDetails_main, #summary_main {
	padding: 10px;
	display: inline-block;
	width: 100%;
}

#personalDetails_main span, #summary_body span {
	float: left;
	clear: left;
	width: 100%;
	height: 25px;
	display: flex;
	white-space: nowrap;
	padding: 2px;
}

#personalDetails_main input {
	width: 100%;
	padding: 2px;
}

#personalDetails_main label, #summary_body label {
	padding: 2px 5px 2px 5px;
}

#personalDetails_main .small-input {
	width: 25%;
}

#diagnosisDetails_main {
	padding: 10px;
	display: inline-block;
	width: 100%;
}

#diagnosisDetails_main span {
	float: left;
	width: 100%;
	padding: 2px 0px 2px 0px;
}

#diagnosisDetails_main textarea {
	width: calc(100% - 3px);
	padding: 10px;
	margin: 5px;
	min-height: 100px;
	overflow: hidden;
	resize: vertical;
}

#diagnosisDetails_main input {
	width: 100%;
	height: 25px;
	padding: 2px;
	margin: 5px;
}

#diagnosisDetails_main label {
	padding: 2px 5px 2px 5px;
}

#diagnosisDetails_main .inline-fields {
	width: calc(100% - 3px);
	display: flex;
	margin: 2px 5px 2px 5px;
}

#diagnosisDetails_main .medication-name {
	margin: 0px 5px 0px 0px;
}

#diagnosisDetails_main .medication-dose {
	margin: 0px 10px 0px 5px;
}

#diagnosisDetails_main .medication-add-button, .medication-remove-button {
	height: 25px;
	min-width: 25px;
	max-width: 25px;
}

#summary_body label {
	width: inherit;
}

#summary_body_personalDetails .small-input {
	max-width: 25% !important;
}